{% extends 'base.html.twig' %}

{% block body %}
    <div class="container margin-top-50">
        <img src="{{ asset('img/georgi-keranov.jpg') }}" class="index-image center"/>
        <h1 class="title">Web and Android Developer.</h1>
        <h3 class="desc text-center">TODO add description</h3>
        <a class="btn btn-outline-success center small-button" href="{{ path('contacts') }}">Hire me</a>
    </div>
{% endblock %}
