{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-2 sidebar">
                <div class="header">Admin panel</div>
                <a>
                    <i class="fa fa-dashboard icon-big-white"></i>
                    <span class="pull-right">Dashboard</span>
                </a>

                <a>
                    <i class="fa fa-envelope icon-big-white"></i>
                    <span class="pull-right">Messages</span>
                </a>

                <a>
                    <i class="fa fa-tasks icon-big-white"></i>
                    <span class="pull-right">Projects</span>
                </a>

                <a>
                    <i class="fa fa-user-circle icon-big-white"></i>
                    <span class="pull-right">Users</span>
                </a>

                <a>
                    <i class="fa fa-comment icon-big-white"></i>
                    <span class="pull-right">Comments</span>
                </a>
            </div>

        </div>
    </div>
{% endblock %}