{% extends 'admin/admin.html.twig' %}

{% block main %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Picture</th>
            <th>User</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-warning">
            <td>
                <img class="img-user-table" src="http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png"/>
            </td>
            <td>Georgi Keranov</td>
            <td>Your project is super cool</td>
            <td>2018/01/02</td>
            <td>
                <a href="#" class="btn btn-primary">
                    <span class="fa fa-edit"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}