{% extends 'admin/admin.html.twig' %}

{% block main %}

    <div class="row">

        <div class="col-md-4">
            <div class="label purple">
                <i class="fa fa-user-circle"></i>
                <div class="pull-right">
                    <h3 class="line-height">{{ registered_users_this_month }}</h3>
                    <h5>New users this month</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="label orange">
                <i class="fa fa-tasks"></i>
                <div class="pull-right">
                    <h3 class=" line-height">{{ project_views_this_month }}</h3>
                    <h5>Project views this month</h5>
                </div>
            </div>
        </div>

    </div>

    <h1>TODO add functions to change my profile, background picture and description in the home page</h1>


{% endblock %}