{% extends 'admin/admin.html.twig' %}

{% block main %}

    <a href="#" class="btn btn-info btn-block">
        <span class="fa fa-plus"></span>
        Add new project
    </a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-warning">
            <td>
                <a href="#" class="btn btn-primary btn-block">
                    <span class="fa fa-edit"></span>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-block">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
            <td>
                <img class="img-table" src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg"/>
            </td>
            <td>Blog</td>
            <td>2018/01/02</td>
        </tr>
        <tr class="table-warning">
            <td>
                <a href="#" class="btn btn-primary btn-block">
                    <span class="fa fa-edit"></span>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-block">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
            <td>
                <img class="img-table" src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg"/>
            </td>
            <td>Blog</td>
            <td>2018/01/02</td>
        </tr>
        <tr class="table-warning">
            <td>
                <a href="#" class="btn btn-primary btn-block">
                    <span class="fa fa-edit"></span>
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-block">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
            <td>
                <img class="img-table" src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg"/>
            </td>
            <td>Blog</td>
            <td>2018/01/02</td>
        </tr>
        </tbody>
    </table>

{% endblock %}