{% extends 'base.html.twig' %}

{% block body %}

    <div class="container margin-top-50">
        <div class="row">

            <div class="col-md-6 margin-bot-20">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

            <div class="col-md-6 margin-bot-20">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

            <div class="col-md-6 margin-bot-20">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

            <div class="col-md-6">
                <h3 class="text-center">Project Name</h3>
                <img src="http://nounitesportal.com/wp-content/uploads/2017/08/noun-project.jpg" class="img-thumbnail"/>
                <p class="desc text-center">Technologies used: </p>
                <h5>AJAX, PHP, JavaScript...</h5>
                <a class="center btn btn-outline-info"> Read more</a>
            </div>

        </div>
    </div>

{% endblock %}