{% extends 'base.html.twig' %}

{% block body %}

    <form method="POST">
        Username: <input type="text" name="_username"/><br/>
        Password: <input type="password" name="_password"/><br/>
        <input type="submit" value="Login"/>
    </form>

{% endblock %}